@import 'tailwindcss';

@theme inline {
  --font-sans: 'Fusion Pixel 12px Monospaced SC', sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

:root {
  --background: rgba(15, 23, 42, 1);
  --foreground: rgba(249, 250, 251, 1);
  --accent: rgba(96, 165, 250, 0.2);
  --muted: rgba(249, 250, 251, 0.6);
  --border: rgba(148, 163, 184, 1);
}

* {
  @apply border-border;
}
